*,
*::before,
*::after {
  box-sizing: border-box;
}
.Main-Content {
  display: flex;
  min-width: 40%;
  border: 1px solid black;
  margin-left: 15px;
  padding: 15px;
}
.Order {
  width: 650px;
  border: 1px solid #e5b90d;
  border-radius: 10px;
  margin-left: 15px;
  padding: 15px;

}
legend {
  text-align: center;
  color: #1a4f0b;
  font-size: 22px;
  font-weight: bold;
}